@import "primeicons/primeicons.css";
@layer primevue, unocss;

#site-content {
  @apply flex flex-col min-h-100vh;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

:root {
  line-height: 1.4;
}
